<p><b><sc_element sys_idtf="age">возраст</sc_element></b> - <i><sc_element sys_idtf="measurable_parameter">числовой параметр</sc_element></i>, определяющий возраст <i><sc_element sys_idtf="patient">обследуемого</sc_element></i>.</p>