<p><b><sc_element sys_idtf="prednosological_medical_decision">преднозологическое медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, свидетельствующее о наличии риска какого-либо заболевания.</p>