<p><b><sc_element sys_idtf="permitting_medical_decision">разрешающее медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, на основе которого пациент может быть допущен к какому-либо определённому виду деятельности.</p>