<p><b><sc_element sys_idtf="etiological_medical_decision">этиологическое медицинское заключение</sc_element></b> - <i><sc_element sys_idtf="medical_decision">медицинское заключение</sc_element></i>, являющееся результатом диагностики причин возникновения выявленного у пациента заболевания.</p>