<p><b><sc_element sys_idtf="immune_system_state">состояние иммунной системы</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний иммунной системы организма.</p>