<p><b><sc_element sys_idtf="bacteritic_system_state">состояние бактериальной системы</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний бактериальной системы.</p>