<p><b><sc_element sys_idtf="osteoarticular_system_state">состояние костно-суставной системы</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний костно-суставной системы организма.</p>