<p><b><sc_element sys_idtf="bronchopulmonary_system_state">состояние бронхолёгочной системы</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний бронхолёгочной системы.</p>