<p><b><sc_element sys_idtf="endoecological_system_state">состояние эндоэкологической системы</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний эндоэкологической системы.</p>