<p><b><sc_element sys_idtf="organism_system_state">состояние системы организма</sc_element></b> - <i><sc_element sys_idtf="class">класс</sc_element></i> всевозможных состояний систем человеческого или животного организма.</p>